<ion-content class="ion-no-padding">
   
  <div class="loginSignup">
    <ion-grid class="ion-no-padding">
        
      <ion-row>
        <ion-col size="12" class="logoDiv">
          <ion-img src="assets/image/signup-logo.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form class="passwordForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col size="12">
            <ion-text class="ion-text-center ">
              <h4>Change Password?</h4>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <div padding class="formDiv passwordDiv">
              <div>
                <ion-img src="assets/image/locked.png"></ion-img>
                <ion-input
                  name="password"
                  type="password"
                  placeholder="Current Password"
                ></ion-input>
              </div>
            </div>
            <div padding class="formDiv passwordDiv">
                <div>
                  <ion-img src="assets/image/locked.png"></ion-img>
                  <ion-input
                    name="password"
                    type="password"
                    placeholder="New Password"
                  ></ion-input>
                </div>
              </div>
              <div padding class="formDiv passwordDiv">
                  <div>
                    <ion-img src="assets/image/locked.png"></ion-img>
                    <ion-input
                      name="password"
                      type="password"
                      placeholder="Confirm Password"
                    ></ion-input>
                  </div>
                </div>
            <div padding class="passwordBtn">
              <ion-button
                size="large"
                type="submit"
                class="bgDanger"
                expand="block"
                >CHANGE PASSWORD</ion-button
              >
            </div>
            <div class="backarrow">
                <ion-item lines="none" (click)="goToBack()">
                    <ion-img slot="start"  src="assets/image/left-arrow.png"></ion-img>
                    <ion-text >Go Back</ion-text>
                </ion-item>
                
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
