.loginSignup{
    background-image:url(/assets/image/loginBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 50px 0 50px;
    height: 100%;
}
.logoDiv ion-img {
width: 150px!important;
margin: 0 auto;
}
.logoDiv {
margin-bottom: 0px;
}
.text-center{
text-align: center!important;
}
.text-font-weight{
font-weight: bold!important;
}
.formDiv ion-img {
    width: 16px;
    margin-right: 10px;
}
// .formDiv {
// div {
// display: flex;
// border-bottom: 1px solid #696969;
// margin-top: 20px;
// padding-bottom: 8px;
// ion-input{
//     height: 25px!important;
//     padding: 0!important;
//     font-size: 16px;
//     --color:#000;
// }
// }
// }

.formDiv {
    div {
    display: flex;
    border-bottom: 1px solid #696969;
    margin-top: 12px;
    padding-bottom: 6px;
    ion-input{
        height: 18px!important;
        padding: 0!important;
        font-size: 14px;
        --color:#000;
    }
}
}


.backarrow ion-img {
    width: 18px;
    margin: 4px 7px 0 0;
}
.backarrow ion-item{
    width: 120px;
    --background: none;
    margin: 0 auto;
}
.backarrow ion-item ion-text{
   font-size: 14px;
}

.bgDanger{
--background:#ff0000;
}

// .social-icons ion-img {
// width: 60%;
// margin: 0 auto;
// }

// .social-icons {
// padding-bottom: 25px;
// position: relative;
//}
// .skipBtn {
// position: absolute;
// right: 0px;
// top: 40px;
// }
// .skipBtn p{
// color: #21adf1;
// }

.formDiv {
margin-top: 50px;
}
.passwordForm h4{
font-weight: bold;
}
.passwordDiv{
margin: 0;
}
// .passwordBtn{
// margin: 80px 0 210px 0;
// }
@media screen and (max-width:575px){
.loginSignup{
    padding: 25px 50px 0 50px;
}
.bgDanger{
    font-size: 15px;
    }
    

}
// @media screen and (max-width:415px){
//     .loginSignup{
//         padding: 40px 15px 0 15px;
// }    
// .passwordForm h4 {
//     font-weight: bold;
//     margin: 25px 0;
// }
// }