<app-header></app-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card class="cardDiv">
          <ion-card-header>
            <ion-row>
              <ion-col size="2">
                <div>
                  <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                </div>
              </ion-col>
              <ion-col size="8">
                <div>
                  <p>Kishor Kumar</p>
                </div>
              </ion-col>
              <ion-col size="2">
                <div class="dropImg">
                  <select>
                    <option class="firstOpt"></option>
                    <option>Report</option>

                  </select>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-img src="assets/image/enslaved.png"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="feedsDiv">
                <div>
                  <ion-img src="assets/image/heart.png"></ion-img>
                </div>
                <div>
                  <ion-img (click)="recommendModal()" src="assets/image/handshake.png"></ion-img>
                </div>
                <div>
                  <ion-img src="assets/image/comment.png"></ion-img>
                </div>
                <div>
                  <ion-img src="assets/image/share.png"></ion-img>
                </div>
              </div>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
          <ion-card class="cardDiv">
            <ion-card-header>
              <ion-row>
                <ion-col size="2">
                  <div>
                    <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="8">
                  <div>
                    <p>Kishor Kumar</p>
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="dropImg">
                    <select>
                      <option class="firstOpt"></option>
                      <option>NES</option>
                      <option>Nintendo64</option>
                    </select>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-header>
  
            <ion-card-content>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-img src="assets/image/enslaved.png"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <div class="feedsDiv">
                  <div>
                    <ion-img src="assets/image/heart.png"></ion-img>
                  </div>
                  <div>
                    <ion-img src="assets/image/handshake.png"></ion-img>
                  </div>
                  <div>
                    <ion-img src="assets/image/comment.png"></ion-img>
                  </div>
                  <div>
                    <ion-img src="assets/image/share.png"></ion-img>
                  </div>
                </div>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="4">
            <ion-card class="cardDiv">
              <ion-card-header>
                <ion-row>
                  <ion-col size="2">
                    <div>
                      <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                    </div>
                  </ion-col>
                  <ion-col size="8">
                    <div>
                      <p>Kishor Kumar</p>
                    </div>
                  </ion-col>
                  <ion-col size="2">
                    <div class="dropImg">
                      <select>
                        <option class="firstOpt"></option>
                        <option>NES</option>
                        <option>Nintendo64</option>
                      </select>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-header>
    
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-img src="assets/image/enslaved.png"></ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <div class="feedsDiv">
                    <div>
                      <ion-img src="assets/image/heart.png"></ion-img>
                    </div>
                    <div>
                      <ion-img src="assets/image/handshake.png"></ion-img>
                    </div>
                    <div>
                      <ion-img src="assets/image/comment.png"></ion-img>
                    </div>
                    <div>
                      <ion-img src="assets/image/share.png"></ion-img>
                    </div>
                  </div>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="4">
              <ion-card class="cardDiv">
                <ion-card-header>
                  <ion-row>
                    <ion-col size="2">
                      <div>
                        <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                      </div>
                    </ion-col>
                    <ion-col size="8">
                      <div>
                        <p>Kishor Kumar</p>
                      </div>
                    </ion-col>
                    <ion-col size="2">
                      <div class="dropImg">
                        <select>
                          <option class="firstOpt"></option>
                          <option>NES</option>
                          <option>Nintendo64</option>
                        </select>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
      
                <ion-card-content>
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <ion-img src="assets/image/enslaved.png"></ion-img>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <div class="feedsDiv">
                      <div>
                        <ion-img src="assets/image/heart.png"></ion-img>
                      </div>
                      <div>
                        <ion-img src="assets/image/handshake.png"></ion-img>
                      </div>
                      <div>
                        <ion-img src="assets/image/comment.png"></ion-img>
                      </div>
                      <div>
                        <ion-img src="assets/image/share.png"></ion-img>
                      </div>
                    </div>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="4">
                <ion-card class="cardDiv">
                  <ion-card-header>
                    <ion-row>
                      <ion-col size="2">
                        <div>
                          <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                        </div>
                      </ion-col>
                      <ion-col size="8">
                        <div>
                          <p>Kishor Kumar</p>
                        </div>
                      </ion-col>
                      <ion-col size="2">
                        <div class="dropImg">
                          <select>
                            <option class="firstOpt"></option>
                            <option>NES</option>
                            <option>Nintendo64</option>
                          </select>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-card-header>
        
                  <ion-card-content>
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <ion-img src="assets/image/enslaved.png"></ion-img>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <div class="feedsDiv">
                        <div>
                          <ion-img src="assets/image/heart.png"></ion-img>
                        </div>
                        <div>
                          <ion-img src="assets/image/handshake.png"></ion-img>
                        </div>
                        <div>
                          <ion-img src="assets/image/comment.png"></ion-img>
                        </div>
                        <div>
                          <ion-img src="assets/image/share.png"></ion-img>
                        </div>
                      </div>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12" size-sm="4">
                  <ion-card class="cardDiv">
                    <ion-card-header>
                      <ion-row>
                        <ion-col size="2">
                          <div>
                            <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                          </div>
                        </ion-col>
                        <ion-col size="8">
                          <div>
                            <p>Kishor Kumar</p>
                          </div>
                        </ion-col>
                        <ion-col size="2">
                          <div class="dropImg">
                            <select>
                              <option class="firstOpt"></option>
                              <option>NES</option>
                              <option>Nintendo64</option>
                            </select>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-header>
          
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-no-padding">
                          <ion-img src="assets/image/enslaved.png"></ion-img>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <div class="feedsDiv">
                          <div>
                            <ion-img src="assets/image/heart.png"></ion-img>
                          </div>
                          <div>
                            <ion-img src="assets/image/handshake.png"></ion-img>
                          </div>
                          <div>
                            <ion-img src="assets/image/comment.png"></ion-img>
                          </div>
                          <div>
                            <ion-img src="assets/image/share.png"></ion-img>
                          </div>
                        </div>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="12" size-sm="4">
                    <ion-card class="cardDiv">
                      <ion-card-header>
                        <ion-row>
                          <ion-col size="2">
                            <div>
                              <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                            </div>
                          </ion-col>
                          <ion-col size="8">
                            <div>
                              <p>Kishor Kumar</p>
                            </div>
                          </ion-col>
                          <ion-col size="2">
                            <div class="dropImg">
                              <select>
                                <option class="firstOpt"></option>
                                <option>NES</option>
                                <option>Nintendo64</option>
                              </select>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-card-header>
            
                      <ion-card-content>
                        <ion-row>
                          <ion-col class="ion-no-padding">
                            <ion-img src="assets/image/enslaved.png"></ion-img>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <div class="feedsDiv">
                            <div>
                              <ion-img src="assets/image/heart.png"></ion-img>
                            </div>
                            <div>
                              <ion-img src="assets/image/handshake.png"></ion-img>
                            </div>
                            <div>
                              <ion-img src="assets/image/comment.png"></ion-img>
                            </div>
                            <div>
                              <ion-img src="assets/image/share.png"></ion-img>
                            </div>
                          </div>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-sm="4">
                      <ion-card class="cardDiv">
                        <ion-card-header>
                          <ion-row>
                            <ion-col size="2">
                              <div>
                                <ion-img src="assets/image/gallery/feeds.png"></ion-img>
                              </div>
                            </ion-col>
                            <ion-col size="8">
                              <div>
                                <p>Kishor Kumar</p>
                              </div>
                            </ion-col>
                            <ion-col size="2">
                              <div class="dropImg">
                                <select>
                                  <option class="firstOpt"></option>
                                  <option>NES</option>
                                  <option>Nintendo64</option>
                                </select>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-card-header>
              
                        <ion-card-content>
                          <ion-row>
                            <ion-col class="ion-no-padding">
                              <ion-img src="assets/image/enslaved.png"></ion-img>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <div class="feedsDiv">
                              <div>
                                <ion-img src="assets/image/heart.png"></ion-img>
                              </div>
                              <div>
                                <ion-img src="assets/image/handshake.png"></ion-img>
                              </div>
                              <div>
                                <ion-img src="assets/image/comment.png"></ion-img>
                              </div>
                              <div>
                                <ion-img src="assets/image/share.png"></ion-img>
                              </div>
                            </div>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
