.recommendImg ion-img{
    width: 50px;
    margin: 0 auto;
}
.textArea{
    border:1px solid #ccc;
}
.greenBtn ion-button {
    --background: #5cb85c!important;
}
.greenBtn {
    text-align: center;
    margin-top: 10px;
}
@media screen and (max-width:575px){
    .recommendImg ion-img{
        width: 35px;
        margin: 5px auto;
    }
}