.recommendOut{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.recommendBttm{
    border-bottom: 1px solid #ccc;
}
.recommendImg ion-img{
    width: 50px;
    margin: 0 auto;
}
.recommendBtn{
    --background: #5cb85c;
    width: 100%;
}
@media screen and (max-width:575px){
    .recommendImg ion-img{
        width: 35px;
        margin: 5px auto;
    }
}