.jobPostClass {
    background: #f2f2f2;
    margin-top: 25px;
}
.jobPostClass p{
    margin:5px 0!important;
}
.textOuterDiv {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px 0;
}
.textArea {
    min-height: 151px;
}
.ActiveBackground{
    background: #d4dae0!important;
}
.greenBtn {
    --background: #5cb85c!important;
}