<ion-content>
  <section class="recommendOut" padding>
      
    <ion-row class="recommendBttm">
        <ion-col size="3">
            <div class="recommendImg">
              <ion-img src="assets/image/gallery/feeds.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class=recommendPara>
              <p>Kishor Kumar</p>
              <p>@vaggy_i_am</p>
            </div>
          </ion-col>
          <ion-col size="1" >
            <ion-icon (click)="commentCloseModal()" name="close"></ion-icon>
          </ion-col>
    </ion-row>
    <ion-row >
          <ion-col class="textArea" size="12">
              <div>
                  <ion-input
                    name="Name"
                    type="text"
                    placeholder="Kumar Vagish"
                  ></ion-input>
                </div>
          </ion-col>
        <ion-col class="textArea" size="12">
            
          <div>
           <ion-textarea rows="5" width="100%" placeholder="Enter your comment here"></ion-textarea>
          </div>
        </ion-col>
        
        <ion-col size="12">
            <div class="greenBtn">
                <ion-button>Update</ion-button>
            </div>
          </ion-col>
  </ion-row>
    </section>
</ion-content>