<app-header class="galleryHeader"></app-header>
<ion-content class="">
    <section class="tabs">
        <ion-row>
          <ion-col class="ion-text-right borderRight">
            
              <h3 [ngClass]="{fontColorOne: redColored, fontColorTwo: !redColored}" (click)="imagesAll()">Images</h3>
            </ion-col>
            <ion-col>
            <h3 [ngClass]="{fontColorOne: otherColored, fontColorTwo: !otherColored}" (click)="videosAll()">Videos</h3>
            
          </ion-col>
        </ion-row>
      </section>
 

      <section *ngIf="Images">
          <ion-grid class="galleryOuter">
              <ion-row>
                <ion-col size="12" size-sm="6">
                    <video
                    height="100%"
                    width="100%"
                    preload="auto"
                    onmouseover="this.play();"
                    onmouseout="this.pause();"
                  >
                    <source
                      src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
                      type="video/mp4"
                    />
                  </video>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <video
            height="100%"
            width="100%"
            preload="auto"
            onmouseover="this.play();"
            onmouseout="this.pause();"
          >
            <source
              src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
              type="video/mp4"
            />
          </video>
                </ion-col>
              
                <ion-col size="12" size-sm="6">
                    <video
                    height="100%"
                    width="100%"
                    preload="auto"
                    onmouseover="this.play();"
                    onmouseout="this.pause();"
                  >
                    <source
                      src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
                      type="video/mp4"
                    />
                  </video>
                </ion-col>
                <ion-col size="12" size-sm="6">
                 
                    <video
                    height="100%"
                    width="100%"
                    preload="auto"
                    onmouseover="this.play();"
                    onmouseout="this.pause();"
                  >
                    <source
                      src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
                      type="video/mp4"
                    />
                  </video>
                </ion-col>
              
                <ion-col size="12" size-sm="6">
                    <video
            height="100%"
            width="100%"
            preload="auto"
            onmouseover="this.play();"
            onmouseout="this.pause();"
          >
            <source
              src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
              type="video/mp4"
            />
          </video>
                 
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <video
                    height="100%"
                    width="100%"
                    preload="auto"
                    onmouseover="this.play();"
                    onmouseout="this.pause();"
                  >
                    <source
                      src="http://veyev.social/uploads//86fb39d1e797d708be171fa93243d72b.mp4"
                      type="video/mp4"
                    />
                  </video>
                </ion-col>
              </ion-row>
              
             </ion-grid>
      </section>

      <section *ngIf="!Images">
          <ion-grid class="galleryOuter">
              <ion-row>
                <ion-col size="12" size-sm="6" size-md="4">
                  <ion-img src="assets/image/gallery/0.png"></ion-img>
                  <ion-img src="assets/image/gallery/6.jpg"></ion-img>
                  <ion-img src="assets/image/gallery/8.jpg"></ion-img>
                  <ion-img src="assets/image/gallery/4.jpg"></ion-img>
                </ion-col>
                <ion-col size="12" size-sm="6" size-md="4">
                    <ion-img src="assets/image/gallery/1.png"></ion-img>
                    <ion-img src="assets/image/gallery/4.jpg"></ion-img>
                    <ion-img src="assets/image/gallery/6.jpg"></ion-img>
                    <ion-img src="assets/image/gallery/5.jpg"></ion-img>
                </ion-col>
              
                <!-- <ion-col size="12" size-sm="6" size-md="4">
                  
                </ion-col>
                <ion-col size="12" size-sm="6" size-md="4">
                 
                  
                </ion-col>
             
                <ion-col size="12" size-sm="6" size-md="4">
                    
                 
                </ion-col>
                <ion-col size="12" size-sm="6" size-md="4">
                  
                </ion-col>
             
                <ion-col size="12" size-sm="6" size-md="4">
                  
                </ion-col>
                <ion-col size="12" size-sm="6" size-md="4">
                    
                </ion-col> -->
              </ion-row>
             </ion-grid>
      </section>
      <section>
          <div class="timelineImg">
              <ion-img src="assets/image/timeline.png"></ion-img>
            </div>
      </section>
          <app-profile-link></app-profile-link>
</ion-content>
