.socialIcon{
    margin: 5px 0 15px;
}
.social-icons ion-img{
    width: 45px;
    margin: 0 auto;
}
.textArea{
    border:1px solid #ccc;
}
.textArea P{
    padding: 0;
    margin: 5px;
}
.greenBtn {
    --background: #5cb85c!important;
}