<app-header class="timelineHeader"></app-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <h4 class="ion-no-margin">Kumar Vagish</h4>
          </ion-col>
          <ion-col size="2">
            <div class="dropImg">
              <select>
                <option class="firstOpt"></option>
                <option>Report</option>
  
              </select>
            </div>
          </ion-col>
        </ion-row>
        <p>Humans love being enslaved</p>
        <ion-img src="assets/image/enslaved.png"></ion-img>
        <p>
          Everything in nature works on balance. Balance is the key. Extremes
          don't sustain for long. Even the black holes radiate out the materials
          they ingulf in. Biggest of the stars die in relatively shorter period
          of time.
        </p>
        <p>
          We humans have existed because of the balance between two major
          perspectives. One is to explore, challenge, innovate and conquer. The
          other one is to sit back, wait and hope. Of all these, there is a
          common consequence uncovering. Among many, slavery is one of the most
          prevalent one.
        </p>
        <p>
          Gone are the days where one population physically enslaved the other.
          Now, when the old problems are gone, new ones are coming up. Now we
          are, across the globe, are being enslaved by the tools created by us.
          We worship our own creations and deem them as the universal law.
          Religion, money, technology, cultures and society.
        </p>
        <p>
          Societies were created for cumulative ease. We are social animals. We
          are not psychologically as well as physically capable to exist alone
          in the wild. We were the hunters as well as the hunted. We are not
          god, we are just 1% different from the chimps. The chimps who still
          are a part of the natural cycles. While other lifeforms concentrated
          on developing their physical capabilities, we developed our mental
          ones. And we are "not" 1% more than the chimps, we are just 1%
          "different". Many things they can do that we can't. To keep in mind,
          they are nearly 4 times as strong as we are, physically.
        </p>
        <p>
          We tried escaping the brutal cycles of life by creating societies and
          technologies. We created religions for controlled and directed way for
          the masses. We created money for accurate value and transactions and
          we created technology for better life standards and ease of living.
        </p>
        <p>
          Out of these, religious dilemmas are my favorite. See, the universe is
          commanded by "universal" laws. All other depictions are just delusion,
          imagination or incomplete knowledge. Of course, each religious
          depictions offer its own version of "perfect knowledge" and stop
          people to question it. A person who is a bit more smart, clever and
          knowledgeable created the delusion for the rest. More so, some
          religions even stop people from questioning much.
        </p>
        <p>
          We have become slaves of our own creations. Money, religion, tech..
          all these are our creations, meant to solve our problems. But they are
          now lagging behind in solving the purposes they were 1st created for.
          But we like being enslaved. It gives us a sense of security to walk
          with the society.
        </p>
        <p>
          We forget, that humans are not what they are now because of playing it
          safe. We learn, we question, we challenge, we conquer. Lack of wisdom
          and abundance of tools will create more weapons. It will happen
          naturally. While we will be living our own lies and challenging
          others', we all will destroy ourselves.
        </p>
        <p>
          Evolution is the key, questioning is the key and wisdom is the key. We
          will not make our creations control us. They were our slaves, it is
          how it should be. It is how it will be.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="timelineDiv">
        <div>
          <ion-text (click)="loveModal()">
            <p class="badge">2</p>
          </ion-text>
        
          <ion-img src="assets/image/heart.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Love</p>
          </ion-text>
        </div>
        <div class="bigImages">
          <ion-img src="assets/image/handshake.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Recommend</p>
          </ion-text>
        </div>
        <div (click)="commentModal()">
          <ion-img src="assets/image/comment.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Comment</p>
          </ion-text>
        </div>
        <div (click)="shareModal()">
          <ion-img src="assets/image/share.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Share</p>
          </ion-text>
        </div>
        <div>
          <ion-img src="assets/image/delete.png" slot="start"></ion-img>
          <ion-text>
            <p class="textDisplay"></p>
          </ion-text>
        </div>
      </div>
    </ion-row>
  </ion-grid>
  <hr class="hrLine">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <h4 class="ion-no-margin">Kumar Vagish</h4>
          </ion-col>
          <ion-col size="2">
            <div class="dropImg">
              <select>
                <option class="firstOpt"></option>
                <option>Report</option>
  
              </select>
            </div>
          </ion-col>
        </ion-row>
        <p>Humans love being enslaved</p>
        <ion-img src="assets/image/enslaved.png"></ion-img>
        <p>
          Everything in nature works on balance. Balance is the key. Extremes
          don't sustain for long. Even the black holes radiate out the materials
          they ingulf in. Biggest of the stars die in relatively shorter period
          of time.
        </p>
        <p>
          We humans have existed because of the balance between two major
          perspectives. One is to explore, challenge, innovate and conquer. The
          other one is to sit back, wait and hope. Of all these, there is a
          common consequence uncovering. Among many, slavery is one of the most
          prevalent one.
        </p>
        <p>
          Gone are the days where one population physically enslaved the other.
          Now, when the old problems are gone, new ones are coming up. Now we
          are, across the globe, are being enslaved by the tools created by us.
          We worship our own creations and deem them as the universal law.
          Religion, money, technology, cultures and society.
        </p>
        <p>
          Societies were created for cumulative ease. We are social animals. We
          are not psychologically as well as physically capable to exist alone
          in the wild. We were the hunters as well as the hunted. We are not
          god, we are just 1% different from the chimps. The chimps who still
          are a part of the natural cycles. While other lifeforms concentrated
          on developing their physical capabilities, we developed our mental
          ones. And we are "not" 1% more than the chimps, we are just 1%
          "different". Many things they can do that we can't. To keep in mind,
          they are nearly 4 times as strong as we are, physically.
        </p>
        <p>
          We tried escaping the brutal cycles of life by creating societies and
          technologies. We created religions for controlled and directed way for
          the masses. We created money for accurate value and transactions and
          we created technology for better life standards and ease of living.
        </p>
        <p>
          Out of these, religious dilemmas are my favorite. See, the universe is
          commanded by "universal" laws. All other depictions are just delusion,
          imagination or incomplete knowledge. Of course, each religious
          depictions offer its own version of "perfect knowledge" and stop
          people to question it. A person who is a bit more smart, clever and
          knowledgeable created the delusion for the rest. More so, some
          religions even stop people from questioning much.
        </p>
        <p>
          We have become slaves of our own creations. Money, religion, tech..
          all these are our creations, meant to solve our problems. But they are
          now lagging behind in solving the purposes they were 1st created for.
          But we like being enslaved. It gives us a sense of security to walk
          with the society.
        </p>
        <p>
          We forget, that humans are not what they are now because of playing it
          safe. We learn, we question, we challenge, we conquer. Lack of wisdom
          and abundance of tools will create more weapons. It will happen
          naturally. While we will be living our own lies and challenging
          others', we all will destroy ourselves.
        </p>
        <p>
          Evolution is the key, questioning is the key and wisdom is the key. We
          will not make our creations control us. They were our slaves, it is
          how it should be. It is how it will be.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="timelineDiv">
        <div>
          <ion-text (click)="loveModal()">
            <p class="badge">2</p>
          </ion-text>
        
          <ion-img src="assets/image/heart.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Love</p>
          </ion-text>
        </div>
        <div class="bigImages">
          <ion-img src="assets/image/handshake.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Recommend</p>
          </ion-text>
        </div>
        <div (click)="commentModal()">
          <ion-img src="assets/image/comment.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Comment</p>
          </ion-text>
        </div>
        <div (click)="shareModal()">
          <ion-img src="assets/image/share.png" slot="start"></ion-img>

          <ion-text>
            <p class="textDisplay">Share</p>
          </ion-text>
        </div>
        <div>
          <ion-img src="assets/image/delete.png" slot="start"></ion-img>
          <ion-text>
            <p class="textDisplay"></p>
          </ion-text>
        </div>
      </div>
    </ion-row>
    <section>
        <div class="timelineImg">
            <ion-img src="assets/image/timeline.png"></ion-img>
          </div>
    </section>
        <app-profile-link></app-profile-link>
  </ion-grid>
</ion-content>
